* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: #F8F9FF;
}

header {
  background: linear-gradient(170deg, #172755 0% 70%, #EF2A82 70% 72%, transparent 72% 100%);
  padding-top: 60px;
  padding-bottom: 350px;
}
header .container {
  max-width: 1180px;
  margin: 0 auto;
}
header .container nav {
  margin-bottom: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
header .container nav input {
  display: none;
}
header .container nav .nav-center {
  display: none;
}
header .container nav .nav-left {
  display: flex;
  gap: 82px;
  flex-wrap: wrap;
  align-items: center;
}
header .container nav .nav-left .ul ul {
  display: flex;
  gap: 36px;
  list-style: none;
}
header .container nav .nav-left .ul ul li a {
  text-decoration: none;
  color: var(--text-secondary, #8794BA);
  font-style: normal;
  line-height: normal;
}
header .container nav .nav-right {
  display: flex;
  align-items: center;
  gap: 40px;
}
header .container nav .nav-right a {
  color: var(--text-secondary, #8794BA);
  text-align: right;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
header .container nav .nav-right .a {
  padding: 10px 53px;
  border-radius: 68px;
  border: 1px solid #465B95;
}
header .container .hero {
  display: flex;
}
header .container .hero .hero-left {
  padding-top: 90px;
  max-width: 550px;
  color: #fff;
}
header .container .hero .hero-left h1 {
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 15px;
}
header .container .hero .hero-left p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 50px;
}
header .container .hero .hero-left a {
  text-decoration: none;
  padding: 10px 80px;
  border-radius: 68px;
  background: #EF2A82;
  color: #fff;
}
header .container .hero .hero-right .img1 {
  position: absolute;
  right: 150px;
}
header .container .hero .hero-right .img2 {
  position: absolute;
  bottom: 300px;
  right: 520px;
}
header .container .hero .hero-right .img3 {
  display: none;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}
.container .section1 {
  padding-top: 38px;
}
.container .section1 .grid {
  margin-bottom: 130px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 217px 163px;
  grid-gap: 20px;
}
.container .section1 .grid .grid1 {
  text-align: center;
  grid-column: 1/4;
  grid-row: 1/2;
}
.container .section1 .grid .grid1 h3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--text-main, #172755);
  margin-bottom: 30px;
}
.container .section1 .grid .grid1 p {
  color: var(--text-secondary, #8794BA);
  text-align: center;
  /* text / body */
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.container .section1 .grid .grid2 {
  text-align: center;
}
.container .section1 .grid .grid2 img {
  margin-bottom: 26px;
}
.container .section1 .grid .grid2 h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
  color: var(--text-main, #172755);
}
.container .section1 .grid .grid2 p {
  color: var(--text-secondary, #8794BA);
  text-align: center;
  /* text / small */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}
.container .section1 .grid .grid3 {
  text-align: center;
}
.container .section1 .grid .grid3 img {
  margin-bottom: 26px;
}
.container .section1 .grid .grid3 h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
  color: var(--text-main, #172755);
}
.container .section1 .grid .grid3 p {
  color: var(--text-secondary, #8794BA);
  text-align: center;
  /* text / small */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}
.container .section1 .grid .grid4 {
  text-align: center;
}
.container .section1 .grid .grid4 img {
  margin-bottom: 26px;
}
.container .section1 .grid .grid4 h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
  color: var(--text-main, #172755);
}
.container .section1 .grid .grid4 p {
  color: var(--text-secondary, #8794BA);
  text-align: center;
  /* text / small */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}
.container .section1 .graph {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 120px;
}
.container .section1 .graph .graph-left {
  max-width: 480px;
}
.container .section1 .graph .graph-left h2 {
  color: var(--text-main, #172755);
  /* text / H2 */
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}
.container .section1 .graph .graph-left p {
  color: var(--text-secondary, #8794BA);
  /* text / body */
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.container .section1 .graph .graph-right {
  max-width: 600px;
  border-radius: 30px;
  background: #FFF;
  /* card / shadow */
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
}
.container .section1 .graph .graph-right img {
  width: 100%;
  border-radius: 50px;
}
.container .section1 .graph1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 120px;
}
.container .section1 .graph1 .graph-left {
  max-width: 480px;
}
.container .section1 .graph1 .graph-left h2 {
  color: var(--text-main, #172755);
  /* text / H2 */
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}
.container .section1 .graph1 .graph-left p {
  color: var(--text-secondary, #8794BA);
  /* text / body */
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.container .section1 .graph1 .graph-right {
  max-width: 600px;
  border-radius: 30px;
  background: #FFF;
  /* card / shadow */
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
}
.container .section1 .graph1 .graph-right img {
  width: 100%;
  border-radius: 50px;
}

footer {
  background: linear-gradient(175deg, transparent 0% 30%, #EF2A82 30% 32%, #172755 32% 100%);
  padding-top: 400px;
  text-align: center;
}
footer .container h2 {
  color: #FFF;
  text-align: center;
  /* text / H2 */
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}
footer .container p {
  color: var(--text-secondary, #8794BA);
  text-align: center;
  max-width: 750px;
  margin: 0 auto;
  /* text / body */
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
footer .container .footer-boxs {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding-bottom: 100px;
}
footer .container .footer-boxs .footer-box {
  padding: 50px 55px 70px 55px;
  border-radius: 30px;
  background: #0F1F4B;
}
footer .container .footer-boxs .footer-box h3 {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}
footer .container .footer-boxs .footer-box p {
  font-size: 18px;
  margin-bottom: 18px;
}
footer .container .footer-boxs .footer-box .linear {
  width: 100%;
  height: 1px;
  background: #2A407C;
  margin-bottom: 28px;
}
footer .container .footer-boxs .footer-box h4 {
  color: #FFF;
  font-family: Roboto;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
footer .container .footer-boxs .footer-box a {
  padding: 10px 80px;
  border-radius: 68px;
  border: 1px solid #2A407C;
  color: #fff;
  text-decoration: none;
}
footer .container .footer-boxs .box1 {
  background: #FFF;
  opacity: none;
  color: var(--text-main, #172755);
}
footer .container .footer-boxs .box1 h3 {
  color: var(--text-main, #172755);
}
footer .container .footer-boxs .box1 h4 {
  color: var(--text-main, #172755);
}
footer .container .footer-boxs .box1 a {
  background-color: #EF2A82;
  color: #fff;
  border: none;
}/*# sourceMappingURL=style.css.map */